
{% extends 'core/base_accounts.html' %}
{% load crispy_forms_tags %}

{% block title %}
Sign Up
{% endblock %}


{% block content %}
<br><br><br>
<div class="container">
  <div class="card">
    <div class="card-header text-center">

      <h1>Sign Up</h1>
    </div>
    <div class="card-body text-center">
      <div class="container">
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="form-row ">
            {% for field in form %}
              <div class="form-group text-center col-md-6 mb-0">
                {{ field.label_tag }}<br>
                {{ field }}<br>
              </div>
            {% endfor %}
          </div>
          {% if field.help_text %}
          <small style="color: grey;">{{ field.help_text }}</small><br>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red;">{{ error }}</p><br>
          {% endfor %}
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
          <hr>
          <p class='text-center'>Already have an account?<a href="{% url 'core:login' %}">Login</a></p>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
